body, html {
    background-color: #0FF;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  background: red;
  position: relative;
}

.game > div {
    width: 85px;
    height: 70px;
    position: absolute;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.game {
    text-align: center;
    position: absolute;
}
.game > div .front {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game > div .back {
    width: 100%;
    height: 100%;
    background-color: #FFFF00;
    position: absolute;
}
img {
    height: 100%;
    width: 100%;
}

.front > div {
    height: 100%;
}

.wrap {
  -webkit-perspective: 10000px;
     -moz-perspective: 10000px;
          perspective: 10000px;
  -webkit-perspective-origin: 50% 100px;
     -moz-perspective-origin: 50% 100px;
          perspective-origin: 50% 100px;
}

.cube {
  position: relative;
  width: 80px;
  height: 60px;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(10deg);
     -moz-transform: rotateY(10deg);
      -ms-transform: rotateY(10deg);
       -o-transform: rotateY(10deg);
          transform: rotateY(10deg);
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
  -webkit-transform-origin: 35px;
     -moz-transform-origin: 35px;
      -ms-transform-origin: 35px;
       -o-transform-origin: 35px;
          transform-origin: 35px;
}

.cube div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.5);
}

.left, .right, .bottom, .top {
    background-color: #ADAD0C;
}

.front {
   -webkit-transform: translateZ(-55px) rotateY(180deg);
      -moz-transform: translateZ(-55px) rotateY(180deg);
       -ms-transform: translateZ(-55px) rotateY(180deg);
        -o-transform: translateZ(-55px) rotateY(180deg);
           transform: translateZ(-55px) rotateY(180deg);
}

.top {
    -webkit-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(33px) translateZ(16px);
       -moz-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(33px) translateZ(16px);
        -ms-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(33px) translateZ(16px);
         -o-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(33px) translateZ(16px);
            transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(33px) translateZ(16px);
    height: 30px !important;
    background: #ffff00;
}

.right {
   -webkit-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(4deg);
      -moz-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(4deg);
       -ms-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(4deg);
        -o-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(4deg);
           transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(4deg);
  transform-origin: top right;
}

.left {
  -webkit-transform: rotateY(270deg) translateX(-53px) scale(.4, 1) skewY(-4deg);
     -moz-transform: rotateY(270deg) translateX(-53px) scale(.4, 1) skewY(-4deg);
      -ms-transform: rotateY(270deg) translateX(-53px) scale(.4, 1) skewY(-4deg);
       -o-transform: rotateY(270deg) translateX(-53px) scale(.4, 1) skewY(-4deg);
          transform: rotateY(270deg) translateX(-53px) scale(.4, 1) skewY(-4deg);
  transform-origin: center left;
}

.bottom {
  webkit-transform: rotateX(105deg) translateY(-15px) translateZ(12px) scale(1, .4);
    -moz-transform: rotateX(105deg) translateY(-15px) translateZ(12px) scale(1, .4);
    -ms-transform: rotateX(105deg) translateY(-15px) translateZ(12px) scale(1, .4);
    -o-transform: rotateX(105deg) translateY(-15px) translateZ(12px) scale(1, .4);
    transform: rotateX(105deg) translateY(-15px) translateZ(12px) scale(1, .4);
    transform-origin: bottom center;
}

.back {
  -webkit-transform: translateZ(-18px) translateY(-5px);
     -moz-transform: translateZ(-18px) translateY(-5px);
      -ms-transform: translateZ(-18px) translateY(-5px);
       -o-transform: translateZ(-18px) translateY(-5px);
          transform: translateZ(-18px) translateY(-5px);
}

@keyframes spin {
  from { transform: rotateY(0); }
  to { transform: rotateY(-170deg); }
}

.spin {
  -webkit-animation: spin .4s forwards;
     -moz-animation: spin .4s forwards;
       -o-animation: spin .4s forwards;
          animation: spin .4s forwards;
}

@keyframes spinned-zoom-out {
  from { transform: rotateY(-170deg) scale3d(1, 1, 1); }
  to { transform: rotateY(-170deg) scale3d(.001, .001, .001); }
}

.spinned-zoom-out {
    -webkit-animation: spinned-zoom-out .5s ease forwards;
       -moz-animation: spinned-zoom-out .5s ease forwards;
         -o-animation: spinned-zoom-out .5s ease forwards;
            animation: spinned-zoom-out .5s ease forwards;
}

@keyframes unspin {
  from { transform: rotateY(-170deg); }
  to { transform: rotateY(10deg); }
}

@-webkit-keyframes unspin {
    from { transform: rotateY(-170deg); }
  to { transform: rotateY(10deg); }
}

.unspin {
  -webkit-animation: unspin .4s forwards;
     -moz-animation: unspin .4s forwards;
       -o-animation: unspin .4s forwards;
          animation: unspin .4s forwards;
}
