body.grayscale {
    -webkit-filter: grayscale(1);
       -moz-filter: grayscale(1);
            filter: grayscale(1);
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #2c3e50;
}
main {
    position: absolute;
    top: 90px;
    height: 612px;
    box-shadow: 0 15px 85px rgba(0, 0, 0, 0.19);
}
body[game-skill=little] main {
    width: 742px;
    left: 50%;
    margin-left: -371px;
}
body[game-skill=big] main {
    width: 1200px;
    left: 50%;
    margin-left: -600px;
}
.game > div {
    width: 73px;
    height: 70px;
    position: absolute;
    display: inline-block;
    text-align: center;
}
body[game-skill=big] .game {
    top: 20px;
}
.game {
    text-align: center;
    position: absolute;
    left: 55px;
    top: 55px;
}
.game > div .front {
    position: absolute;
    width: 100%;
    height: 100%;
}
.game > div .back {
    width: calc(100% + 1px);
    height: 100%;
    background-color: #FFFF00;
    position: absolute;
    left: -0.6px;
}
img {
    height: 100%;
    width: 100%;
}
.front > div {
    height: 100%;
}
.wrap {
    -webkit-perspective: 10000px;
       -moz-perspective: 10000px;
            perspective: 10000px;
    -webkit-perspective-origin: 50% 100px;
       -moz-perspective-origin: 50% 100px;
            perspective-origin: 50% 100px;
}
.cube {
    position: relative;
    width: 80px;
    height: 60px;
    transform-style: preserve-3d;

    -webkit-transform: rotateY(10deg);
       -moz-transform: rotateY(10deg);
        -ms-transform: rotateY(10deg);
         -o-transform: rotateY(10deg);
            transform: rotateY(10deg);

    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;

    -webkit-transform-origin: 35px;
       -moz-transform-origin: 35px;
        -ms-transform-origin: 35px;
         -o-transform-origin: 35px;
            transform-origin: 35px;
}
.cube div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(99, 99, 99);
}
.left,
.right,
.bottom,
.top {
    background-color: #ADAD0C;
}
.front {
    -webkit-transform: translateZ(-52px) rotateY(180deg);
       -moz-transform: translateZ(-52px) rotateY(180deg);
        -ms-transform: translateZ(-52px) rotateY(180deg);
         -o-transform: translateZ(-52px) rotateY(180deg);
            transform: translateZ(-52px) rotateY(180deg);
}
.top {
    -webkit-transform: rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
       -moz-transform: rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
        -ms-transform: rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
         -o-transform: rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
            transform: rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
    height: 30px !important;
    background: #ffff00;
    z-index: 0;
}
.right {
    -webkit-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
       -moz-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
        -ms-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
         -o-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
            transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
    transform-origin: top right;
    z-index: 0;
}
.left {
    -webkit-transform: rotateY(270deg) translateX(-44px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
       -moz-transform: rotateY(270deg) translateX(-44px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
        -ms-transform: rotateY(270deg) translateX(-44px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
         -o-transform: rotateY(270deg) translateX(-44px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
            transform: rotateY(270deg) translateX(-44px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
    transform-origin: center left;
}
.bottom {
    -webkit-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
       -moz-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
        -ms-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
         -o-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
            transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
    transform-origin: bottom center;
    z-index: 1;
}
.back {
    -webkit-transform: translateZ(-18px) translateY(-5px);
       -moz-transform: translateZ(-18px) translateY(-5px);
        -ms-transform: translateZ(-18px) translateY(-5px);
         -o-transform: translateZ(-18px) translateY(-5px);
            transform: translateZ(-18px) translateY(-5px);
    z-index: 1;
}
.spin {
    -webkit-animation: spin .3s forwards;
       -moz-animation: spin .3s forwards;
         -o-animation: spin .3s forwards;
            animation: spin .3s forwards;
}
.spin .front {
    -webkit-animation: spin-front .3s forwards;
       -moz-animation: spin-front .3s forwards;
         -o-animation: spin-front .3s forwards;
            animation: spin-front .3s forwards;
    z-index: 0;
}
.spin .right {
    z-index: 1;
}
@keyframes spinned-zoom-out {
    from {
        transform: rotateY(-170deg) scale3d(1, 1, 1);
    }
    to {
        transform: rotateY(-170deg) scale3d(.001, .001, .001);
    }
}

.spinned-zoom-out {
    -webkit-animation: spinned-zoom-out .5s ease forwards;
       -moz-animation: spinned-zoom-out .5s ease forwards;
         -o-animation: spinned-zoom-out .5s ease forwards;
            animation: spinned-zoom-out .5s ease forwards;
}

@keyframes unspin {
    from {
        transform: rotateY(-170deg);
    }
    to {
        transform: rotateY(10deg);
    }
}
@-webkit-keyframes unspin {
    from {
        transform: rotateY(-170deg);
    }
    to {
        transform: rotateY(10deg);
    }
}

.unspin {
    -webkit-animation: unspin .3s forwards;
       -moz-animation: unspin .3s forwards;
         -o-animation: unspin .3s forwards;
            animation: unspin .3s forwards;
}

.background {
    position: absolute;
    border: 2px solid black;
    top: 20px;
}
body[game-skill=little] .background {
    width: 740px;
    height: 560px;
}
body[game-skill=big] .background {
    width: 1195px;
    height: 660px;
    top: -20px;
}
.background.background-easy {
    background-color: #0FF;
}
h1 {
    margin-top: 20px;
}
a:hover {
    color: inherit !important;
}
.description {
    margin-top: 0;
}
.hide {
    display: none;
}
small {
    color: #444;
    font-size: 13px;
    margin-left: 12px;
    font-weight: bold;
}
.game-info {
    font-family: monospace;
    position: absolute;
    border: 2px solid black;
    padding: 15px;
    background-color: white;
    text-align: right;
}
body[game-skill=little] .game-info {
    width: 710px;
    top: 581px;
}
body[game-skill=big] .game-info {
    width: 1165px;
    top: 642px;
}
span.time {
    margin-right: 40px;
}
.highscores {
    width: 530px;
    height: 360px;
    margin-left: -265px;
}
.retro-window {
    position: absolute;
    background: white;
    left: 50%;
    top: 30px;
    z-index: 99;
    padding: 13px;
    font-family: monospace;
    color: black;
}
.retro-border {
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    border-right: 2px solid #A0A0A0;
    border-bottom: 2px solid #A0A0A0;
    box-shadow: 2px 0px 0 #696969, 2px 2px 0 #696969, 0px 2px 0 #696969;
}
.retro-window .title {
    font-family: monospace;
    color: black;
    text-align: center;
    padding: 10px 0;
}
.highscores .board {
    border: 2px solid #696969;
    position: relative;
    margin-top: 23px;
    padding: 10px;
}
.board-title {
    text-align: center;
    background: white;
    top: -8px;
    position: absolute;
    left: 50%;
}
.board.fastest-times .board-title {
    width: 150px;
    margin-left: -75px;
}
.board.fewest-pairs .board-title {
    width: 240px;
    margin-left: -120px;
}
.highscores table {
    width: 100%;
    border-collapse: collapse;
}
.highscores td:last-of-type {
    text-align: right;
    width: 160px;
    padding-right: 4px;
}
.highscores td:nth-of-type(1) {
    text-align: left;
    width: 10px;
    padding-left: 4px;
}
.highscores td:nth-of-type(2) {
    text-align: left;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}
.highscores td:nth-of-type(3),
.highscores td:nth-of-type(4),
.highscores td:nth-of-type(5) {
    text-align: right;
}
.board tr.selected td {
    border-color: #A0A0A0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.board tr.selected td:first-of-type {
    border-left: 1px solid;
}
.board tr.selected td:last-of-type {
    border-right: 1px solid;
}
.controls {
    padding-top: 20px;
    text-align: center;
}
a.retro-border,
button.retro-border {
    width: 190px;
    height: 30px;
    margin: 6px 20px;
    background: #F0F0F0;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    color: inherit;
    font-weight: normal;
    vertical-align: middle;
    text-decoration: none;
    font-family: monospace;
}
.congrats {
    width: 280px;
    padding: 20px;
    margin-left: -140px;
}
.congrats form input:focus {
    border: 1px solid black;
    outline: none;
}
.congrats form input {
    width: calc(100% - 8px);
    font-family: monospace;
    color: black;
    padding: 4px;
    background: white;
    margin-bottom: 14px;
    border: 1px solid #A0A0A0;
}
.congrats form .ok-btn {
    width: 50px;
}
.game-controls {
    position: absolute;
    left: 0;
    top: -76px;
    right: 0;
}
.highscores {
    display: none;
}
.unselectable {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}
.bg-win {
    background: #FFFF00;
}
.bg-win-purple {
    background: #FF00FF;
}
.bg-win-purple small {
    color: white;
}
/* hacking the direction */

.game > div.spin .front {
    top: -5px;
}
.game > div.spin .back {
    bottom: -9px;
    left: -1px;
}
.game > div.spin .right {
    -webkit-transform: rotateY(-270deg) translateY(68px) translateX(58px) scale(.5, -1) skewY(184deg);
       -moz-transform: rotateY(-270deg) translateY(68px) translateX(58px) scale(.5, -1) skewY(184deg);
        -ms-transform: rotateY(-270deg) translateY(68px) translateX(58px) scale(.5, -1) skewY(184deg);
         -o-transform: rotateY(-270deg) translateY(68px) translateX(58px) scale(.5, -1) skewY(184deg);
            transform: rotateY(-270deg) translateY(68px) translateX(58px) scale(.5, -1) skewY(184deg);
}
.game > div.spin .bottom {
    -webkit-transform: rotatex(81deg) translatex(-1px) translatey(-20px) translatez(-4px) scale(1, .5);
       -moz-transform: rotatex(81deg) translatex(-1px) translatey(-20px) translatez(-4px) scale(1, .5);
        -ms-transform: rotatex(81deg) translatex(-1px) translatey(-20px) translatez(-4px) scale(1, .5);
         -o-transform: rotatex(81deg) translatex(-1px) translatey(-20px) translatez(-4px) scale(1, .5);
            transform: rotatex(81deg) translatex(-1px) translatey(-20px) translatez(-4px) scale(1, .5);
}
.game > div.spin .left {
    display: none;
}
.game > div.spin .top {
    -webkit-transform: rotateZ(180deg) rotateX(-79deg) translateZ(10px) translateY(36px);
       -moz-transform: rotateZ(180deg) rotateX(-79deg) translateZ(10px) translateY(36px);
        -ms-transform: rotateZ(180deg) rotateX(-79deg) translateZ(10px) translateY(36px);
         -o-transform: rotateZ(180deg) rotateX(-79deg) translateZ(10px) translateY(36px);
            transform: rotateZ(180deg) rotateX(-79deg) translateZ(10px) translateY(36px);
}
@keyframes spin {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(-170deg);
    }
}
@keyframes spin-front {
    30% {
        z-index: 2;
    }
    100% {
        z-index: 2;
    }
}
.cube.active {
    margin-top: -1px;
    margin-left: -11px;
}
.window-about {
    width: 520px;
    margin-left: -260px;
}
select.retro-border {
    top: -2px;
    height: 19px;
    color: #444444;
    background: rgb(255, 255, 255);
    font-family: inherit;
    font-weight: bold;
    font-size: 10px;
    position: relative;
}
.retro-window a {
    color: inherit;
    font-weight: initial;
    text-decoration: underline;
}
a.retro-border {
    height: 21px;
    padding-top: 5px;
    width: 186px;
}

.text-center {
    text-align: center;
}
body[game-skill=big] .game-controls .retro-border {
    margin: 3px 2px;
}