body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #2c3e50;
}

main {
    position: absolute;
    width: 784px;
    left: 50%;
    margin-left: -397px;
    top: 90px;
    height: 650px;
    box-shadow: 0 15px 85px rgba(0, 0, 0, 0.19);
}

.game > div {
    width: 85px;
    height: 70px;
    position: absolute;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.game {
    text-align: center;
    position: absolute;
    left: 40px;
    top: 30px;
}
.game > div .front {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game > div .back {
    width: calc(100% + 1px);
    height: 100%;
    background-color: #FFFF00;
    position: absolute;
    left: -0.6px;
}
img {
    height: 100%;
    width: 100%;
}

.front > div {
    height: 100%;
}

.wrap {
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
    perspective: 10000px;
    -webkit-perspective-origin: 50% 100px;
    -moz-perspective-origin: 50% 100px;
    perspective-origin: 50% 100px;
}

.cube {
    position: relative;
    width: 80px;
    height: 60px;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
    -o-transform: rotateY(10deg);
    transform: rotateY(10deg);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform-origin: 35px;
    -moz-transform-origin: 35px;
    -ms-transform-origin: 35px;
    -o-transform-origin: 35px;
    transform-origin: 35px;
}

.cube div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(99, 99, 99);
}

.left, .right, .bottom, .top {
    background-color: #ADAD0C;
}

.front {
    -webkit-transform: translateZ(-55px) rotateY(180deg);
    -moz-transform: translateZ(-55px) rotateY(180deg);
    -ms-transform: translateZ(-55px) rotateY(180deg);
    -o-transform: translateZ(-55px) rotateY(180deg);
    transform: translateZ(-55px) rotateY(180deg);
}

.top {
    -webkit-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
    -moz-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
    -ms-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
    -o-transform:  rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
    transform: rotateZ(180deg) rotateX(-99deg) translateZ(8px) translateY(31px) translateZ(15px);
    height: 30px !important;
    background: #ffff00;
}

.right {
    -webkit-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
    -moz-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
    -ms-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
    -o-transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
    transform: rotateY(-270deg) translateX(53px) scale(.4, 1) skewY(3deg);
    transform-origin: top right;
}

.left {
    -webkit-transform: rotateY(270deg) translateX(-46px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
    -moz-transform: rotateY(270deg) translateX(-46px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
    -ms-transform: rotateY(270deg) translateX(-46px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
    -o-transform: rotateY(270deg) translateX(-46px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
    transform: rotateY(270deg) translateX(-46px) translateY(1px) translateZ(2px) scale(.42, 1) skewY(-4deg);
    transform-origin: center left;
}

.bottom {
    -webkit-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
    -moz-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
    -ms-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
    -o-transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
    transform: rotateX(99deg) translateY(-17px) translateZ(8px) scale(1, .5);
    transform-origin: bottom center;
}

.back {
    -webkit-transform: translateZ(-18px) translateY(-5px);
    -moz-transform: translateZ(-18px) translateY(-5px);
    -ms-transform: translateZ(-18px) translateY(-5px);
    -o-transform: translateZ(-18px) translateY(-5px);
    transform: translateZ(-18px) translateY(-5px);
}

@keyframes spin {
    from { transform: rotateY(0); }
    to { transform: rotateY(-170deg); }
}

.spin {
    -webkit-animation: spin .4s forwards;
    -moz-animation: spin .4s forwards;
    -o-animation: spin .4s forwards;
    animation: spin .4s forwards;
}

@keyframes spinned-zoom-out {
    from { transform: rotateY(-170deg) scale3d(1, 1, 1); }
    to { transform: rotateY(-170deg) scale3d(.001, .001, .001); }
}

.spinned-zoom-out {
    -webkit-animation: spinned-zoom-out .5s ease forwards;
    -moz-animation: spinned-zoom-out .5s ease forwards;
    -o-animation: spinned-zoom-out .5s ease forwards;
    animation: spinned-zoom-out .5s ease forwards;
}

@keyframes unspin {
    from { transform: rotateY(-170deg); }
    to { transform: rotateY(10deg); }
}

@-webkit-keyframes unspin {
    from { transform: rotateY(-170deg); }
    to { transform: rotateY(10deg); }
}

.unspin {
    -webkit-animation: unspin .4s forwards;
    -moz-animation: unspin .4s forwards;
    -o-animation: unspin .4s forwards;
    animation: unspin .4s forwards;
}

.background {
    position: absolute;
    width: 780px;
    height: 600px;
    border: 2px solid black;
}

.background.background-easy {
    background-color: #0FF;
}


h1 { margin-top: 20px; }
a:hover { color: inherit !important; }
.description { margin-top: 0; }
.hide { display: none; }
small {
    color: rgb(183, 183, 183);
    font-size: 13px;
    margin-left: 12px;
}

h1 { margin-top: 20px; }
a:hover { color: inherit !important; }
.description { margin-top: 0; }
.hide { display: none; }
small {
    color: #444;
    font-size: 13px;
    margin-left: 12px;
    font-weight: bold;
}

.game-info {
    font-family: monospace;
    position: absolute;
    border: 2px solid black;
    padding: 15px;
    background-color: white;
    width: 750px;
    top: 602px;
    text-align: right;
}

span.time {
    margin-right: 40px;
}

.highscores {
    width: 530px;
    height: 430px;
    margin-left: -265px;
}

.retro-window {
    position: absolute;
    background: white;
    left: 50%;
    top: 30px;
    z-index: 99;
    padding: 13px;
    font-family: monospace;
    color: black;
}

.retro-border {
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    border-right: 2px solid #A0A0A0;
    border-bottom: 2px solid #A0A0A0;
    box-shadow: 2px 0px 0 #696969, 2px 2px 0 #696969, 0px 2px 0 #696969;
}

.retro-window .title {
    font-family: monospace;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.highscores .board {
    border: 2px solid #696969;
    position: relative;
    margin-top: 23px;
    padding: 10px;
}

.board-title {
    text-align: center;
    background: white;
    width: 140px;
    top: -8px;
    position: relative;
    left: 50%;
    margin-left: -70px;
}

.highscores table {
    width: 100%;
    border-collapse: collapse;
}

.highscores td:last-of-type {
    text-align: right;
    width: 160px;
    padding-right: 4px;
}

.highscores td:nth-of-type(1) {
    text-align: left;
    width: 10px;
    padding-left: 4px;
}

.highscores td:nth-of-type(2) {
    text-align: left;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
}

.highscores td:nth-of-type(3),
.highscores td:nth-of-type(4),
    .highscores td:nth-of-type(5) {
    text-align: right;
}

.board tr.selected td {
    border-color: #A0A0A0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.board tr.selected td:first-of-type {
    border-left: 1px solid;
}

.board tr.selected td:last-of-type {
    border-right: 1px solid;
}

.controls {
    padding-top: 20px;
    text-align: center;
}

button.retro-border {
    width: 130px;
    height: 30px;
    margin: 0 33px;
    background: #F0F0F0;
    cursor: pointer;
}

.congrats {
    width: 280px;
    padding: 20px;
    margin-left: -140px;
}

.congrats form input:focus {
    border: 1px solid black;
    outline: none;
}

.congrats form input {
    width: calc(100% - 8px);
    font-family: monospace;
    color: black;
    padding: 4px;
    background: white;
    margin-bottom: 14px;
    border: 1px solid #A0A0A0;
}

.congrats form .ok-btn {
    width: 50px;
}